@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply bg-white rounded-lg overflow-hidden shadow-md  relative hover:shadow-lg 
}
.badge{
    @apply bg-orange-400 text-orange-800 uppercase text-xs font-bold rounded-full p-2 absolute top-3 left-3
}
.btn{
    @apply rounded-full  uppercase  font-bold cursor-pointer tracking-wider
}
.ytranform{
    @apply transition ease-out duration-200 transform hover:scale-105  hover:-translate-y-2
}
.center{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}